; TODO :
;   - copier coller ce fichier, et renommer la copie en config.ini
;   - ensuite, dans ce fichier config.ini, définir une valeur pour chaque paramètre

; base de données
DB_HOST=exampleLocalhost
DB_NAME=exampleBlog
DB_USERNAME=exampleUsername
DB_PASSWORD=examplePassword

; contact form email :
CONTACT_EMAIL=example@exemple.com

; url
WEBSITE_URL=http://localhost:8000